<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ClaimsManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>CmsHome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>claim.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>claim.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>claim.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginController1</display-name>
    <servlet-name>LoginController1</servlet-name>
    <servlet-class>claim.controller.LoginController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController1</servlet-name>
    <url-pattern>/LoginController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController1</display-name>
    <servlet-name>LogoutController1</servlet-name>
    <servlet-class>claim.controller.LogoutController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController1</servlet-name>
    <url-pattern>/LogoutController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegistrationController1</display-name>
    <servlet-name>RegistrationController1</servlet-name>
    <servlet-class>claim.controller.RegistrationController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController1</servlet-name>
    <url-pattern>/RegistrationController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ClaimController</display-name>
    <servlet-name>ClaimController</servlet-name>
    <servlet-class>claim.controller.ClaimController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimController</servlet-name>
    <url-pattern>/ClaimController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PlanController</display-name>
    <servlet-name>PlanController</servlet-name>
    <servlet-class>claim.controller.PlanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanController</servlet-name>
    <url-pattern>/PlanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ClaimProcessController</display-name>
    <servlet-name>ClaimProcessController</servlet-name>
    <servlet-class>claim.controller.ClaimProcessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimProcessController</servlet-name>
    <url-pattern>/ClaimProcessController</url-pattern>
  </servlet-mapping>
</web-app>